@font-face {
    font-family: "Arista Pro bold";
    src: url("../fonts/Arista-Pro-bold-trial.ttf");
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Arista Pro bold; 
    font-size: 32px;
    border-radius: 5px;


}

body{
    font-size: 102px;
    background-color: #132746;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 30%;
    height: 40%;
}
    
input{
    color:#FCFCFF;
    padding: 5px;
    width: 100%;
    background-color: #132746;
    border: 2px solid #ffffff35;
    border-radius: inherit;
    outline: none;
    font-size: 2rem;
    transition: 0.5s;
}

div{
    position: relative;
}

label{
    color: #ffffff35;
    pointer-events: none;
    position: absolute;
    left: 0;
    padding: 5px;
    font-size: 2rem;
    transition: 0.5s
}

input:valid, input:focus{
    border-radius: 0px 5px 5px 5px;
    border: 2px solid #FCFCFF;
}

input:valid ~ label,
input:focus ~ label{
    color:#FCFCFF;
    background-color: #132746;
    transform: translateX(0px) translateY(-32px);
    font-size: 0.70rem;
    border-radius: 5px 5px 0px 0px;
    border: 2px solid #FCFCFF;
    animation: changebox 1s forwards;
}

button{
    color: #ffffff35;
    background-color: #132746;
    border: 2px solid #ffffff35;
    padding: 5px;
    font-size: 100%;
    border-radius: inherit;
    width: 22%;
    transition: 0.8s;
    visibility: hidden;
}

button:hover{
    color: #132746;;
    background-color:#FCFCFF;
    width: 25%;
    border: 2px solid #FCFCFF;
    letter-spacing: 2px;
    animation: brilha 3s linear infinite;
}

@keyframes brilha{
    0%{box-shadow: 0px 0px 2px #FCFCFF;}
    50%{box-shadow: 0px 0px 25px #FCFCFF;}
    100%{box-shadow: 0px 0px 2px #FCFCFF;}
}

@keyframes brilhaMedia{
    0%{box-shadow: 0px 0px 2px #FCFCFF;}
    50%{box-shadow: 0px 0px 50px #FCFCFF;}    
    100%{box-shadow: 0px 0px 2px #FCFCFF;}
}
@keyframes brilhaMedia2{
    0%{box-shadow: 0px 0px 2px #FCFCFF;}
    50%{box-shadow: 0px 0px 100px #FCFCFF;}
    100%{box-shadow: 0px 0px 2px #FCFCFF;}
}

@keyframes changebox{
    0%{
        color:#FCFCFF;
        background-color: #132746;
    }

    100%{
        color:#132746;
        background-color: #FCFCFF;
    }
}